:host {
  display: block;
  background-color: var(--white);
}

.header {
  &__wrapper {
    padding: 10px 0 17px 0;
  }
}

.cart {
  all: unset;
  display: block;
  margin-left: auto;

  &__wrapper {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 16px 24px;
    border-radius: 16px;
    max-width: 180px;
    background-color: var(--gray);
  }

  &__price {
    padding-left: 36px;
    color: var(--dark-blue);
    font-size: 16px;
    font-weight: 400;
    background-image: url("/assets/icons/cart-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__count {
    padding: 6px 9px;
    border-radius: 12px;
    color: var(--white);
    font-size: 11px;
    font-weight: 500;
    line-height: 12px;
    background-color: var(--red);
  }
}
