.products {
  &__title {
    margin: 31px 0;
    color: var(--dark-blue);
    font-size: 40px;
    font-weight: 500;
    user-select: none;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1px;
    margin: 0;
    padding: 0;
  }

  .products__item {
    padding: 15px;
    background-color: var(--white);
    list-style: none;
  }
}


@media (max-width: 1268px) {
  .products {
    &__list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 601px) {
  .products {
    &__list {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
